@charset "utf-8";
html {
	box-sizing: border-box;
	padding-right: 0px;
}

*, *:before, *:after {
	box-sizing: inherit;@charset "utf-8";}
body {
	background-color: #C5B358;
	text-align: justify;
}
.2 {


}
.StaffTable {
}
.MorningShow {
}
.IrameShow {
	text-align: justify;
}
text-align: center
.StaffTable2 {
}
#StaffTable2 {
}
#youtube_video {

}
#spectrum {
	display: inline;
	padding-left: 0px;

}
